.container {
    width: 80%;
    margin: 0 auto;
  }
  
  .characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  app-character {
    width: 200px;
    margin: 0 10px;
  }